<div class="container">
  <h3>Ajouter Equipment</h3>
  <div class="formulaire">
    <form (ngSubmit)="onSubmit()">
      <div class="form-goup">
        <label style="color: white">Full Name</label>
        <input placeholder="Full Name" type="text" class="form-control" [(ngModel)]="technicien.fullName" name="fullName" id="fullName">
      </div>

      <div class="form-goup">
        <label style="color: white">Email</label>
        <input placeholder="Email" style="width: 26rem" type="email" class="form-control" [(ngModel)]="technicien.email" name="email" id="email">
      </div>

      <div class="form-goup">
        <label style="color: white">Password</label>
        <input placeholder="Password" type="password" class="form-control" [(ngModel)]="technicien.password" name="password" id="password">
      </div>


      <button class="btn">Submit</button>

    </form>
  </div>
</div>
<router-outlet></router-outlet>
