<h3>Ajouter Equipment</h3>

<form (ngSubmit)="onSubmit()">
  <div class="form-goup">
    <label>Name</label>
    <input type="text" class="form-control" [(ngModel)]="equipment.name" name="name" id="name">
  </div>

  <div class="form-goup">
    <label>Description</label>
    <input type="text" class="form-control" [(ngModel)]="equipment.description" name="description" id="description">
  </div>

  <div class="form-goup">
    <label>Image Url</label>
    <input type="text" class="form-control" [(ngModel)]="equipment.imgUrl" name="imgUrl" id="img">
  </div>

  <button class="btn btn-success">Submit</button>

</form>
<router-outlet></router-outlet>
