<div class="container">
  <h2>Equipment List</h2>
  <div class="cards">
    <div class="card" style="width: 17rem;" *ngFor="let tiket of tikets">
      <div class="card-body">
        <h5 class="card-title">{{ tiket.equipment.name }}</h5>
        <p class="card-text">{{tiket.description}}</p>
        <p class="card-text">{{tiket.dateDeCreation}}</p>
        <h5 class="card-title">{{ tiket.panne.name }}</h5>
        <p class="card-text">{{tiket.EtatTicket}}</p>
        <h5 class="card-title">{{ tiket.utilisateur.fullName }}</h5>
        <h5 class="card-title">{{ tiket.technicien.fullName }}</h5>
        <a href="#" class="btn btn-primary">Assinger Tichnicien</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
